*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    width: 100vw;
    height: 100vh;
    display: grid;
}

@media (max-width: 600px) {
    #container{
        grid-template-columns: repeat(1,ifr);
        grid-template-rows: repeat(6,ifr);
        grid-template-areas:
        "header"
        "aside"
        "prod"
        "serv"
        "enla"
        "footer"
        ;
       
    }
}

@media (min-width: 601px) and (max-width: 999px) {
    #container{
        grid-template-columns: repeat(4,ifr);
        grid-template-rows: repeat(4,ifr);
        grid-template-areas:
        "header header header aside"
        "prod prod prod prod"
        "serv serv serv serv"
        "footer footer enla enla"
        ;
       
    }
}
@media (min-width: 1000px)   {
    #container{
        grid-template-columns: repeat(3,ifr);
        grid-template-rows: repeat(4,ifr);
        grid-template-areas:
        "aside header header"
        "aside prod enla"
        "aside serv enla"
        "aside footer footer"
        ;
    }
}

#prod{
    grid-area: prod;
    background-color: bisque;
}

#serv{
    grid-area: serv;
    background-color: gray;
}

#enla{
    grid-area: enla;
    background-color: brown;
}

header{
    grid-area: header;
    background-color: aqua;
}
aside{
    grid-area: aside;
    background-color: darkorchid;
}

footer{
    grid-area: footer;
    background-color: violet;
}

